<h1>Home#index</h1>
<p><%= Twitter.search("to:justinbieber marry me", :count => 3, :result_type => "recent").results.map do |status|
  	"#{status.from_user}: #{status.text}"
	end %></p>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>