<!DOCTYPE html>
<html>
<head>
  <title>FullStackChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="hero-unit">
			<h1 class="text-center">FullStackChallenge</h1>
			<p class="text-center">An web app demonstrating the consumption of the Twitter API</p>
				<%= yield %>
		</div>
	</div>

</body>
</html>
